
 .root {
  background-color: #153e5c;
  height: 100vh;
  overflow: hidden;
}

h1,
h2,
h3,
h5 {
    color: #f2be54;
}

h2 {
    margin-top: auto;
}

h1,
h5 {
    margin: 0;
}



.name-container {
  margin-top: 20%;
    /* margin-left: 25.5%; */
}

.icons {
    color: #f2be54;
    margin-top: 2%;
    font-size: 5em;
/* margin-left: 15%; */

}

.mc-container {
    margin: 0 auto;
margin-top: 6%;
/* margin-left: 30%; */

}

div {
    text-align: center;
}

.btn-container{
  display:flex;
  flex-flow: column nowrap;
  margin-top: 10%;;
}

.btn {
 
margin: 10% 3% 3% 3%;

    text-transform: capitalize;
    padding: 2%;
}


.btn:hover {
    transition: all 0.7s;
}






/* .root {















#contained-modal-title-vcenter {
  padding: 0 0% 0 40%;
  font-size: 2em;
}

.place-holder {
  text-align: center;
}

.mb-3 {
  width: 70%;
  text-align: center;
  margin: auto;
  color: #f2be54;
}

.send-btn {
  width: 50%;
  margin: 2% auto;
  color: #f2be54;
}




.form {
  background-color: #153e5c;
}

 */
