.root {
  background-color: #153e5c;
  height: 100vh;
 
 overflow: hidden;
 
}

a,h1,h2,h3,h5 {
 text-decoration: none;
  color:#f2be54;

}

h2{
  margin-top:auto;
}

h1,h5{
margin:0 ;
}

.mc-container{
  margin:0 auto;
}

.btn{
  padding:0%;
}


div  {
  text-align: center;
}

.name-container {
  margin-top:5%;
}

.icons{
 color: #f2be54;
 margin-top:2%;
 font-size: 10em;


}

.btn{
  margin: 3%;
  text-transform: capitalize;
}
  
#contained-modal-title-email {
  padding:0 0% 0 40%;
 font-size:2em;
}




